<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Pembelian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Pembelian</div>
        <hr>
    <p>Nama Buah                        :   <td th:text="${buah}"></td></p>
    <p>Harga Perkilo                    :   Rp.<td th:text="${harga}"></td></p>
    <p>Jumlah Beli (kilo)               :   <td th:text="${jumlahKilo}"></td></p>
    <p>Harga Awal                       :   Rp.<td th:text="${jumlahAwal}"></td></p>
    <p>Diskon yang Didapatkan           :   <td th:text="${getDisc}"></td></p>
    <p>Diskon dalam Rupiah              :   Rp.<td th:text="${discount}"></td></p>
    <p>Total Harga yang Harus Dibayar   :   Rp.<td th:text="${totalBayar}"></td></p>
</body>
</html>
